.component-10 {
  width: 100%;
  height: auto;
  padding-top: 140px;
  padding-bottom: 136px;
  margin-bottom: 2px;
}

.component-10-inner {
  width: 63%;
  margin: 0 auto;
}

.component-10-inner-p {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ee3364;
  text-align: center;
  margin-bottom: 6px;
}

.component-10-inner h1 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  color: #222222;
  word-spacing: -1px;
  margin-bottom: 49px;
}

.component-10-inner h1 > span {
  display: inline-block;
  width: 22px;
}

.services-package {
  width: 100%;
  height: 530px;
  display: flex;
  justify-content: space-around;
  padding-top: 2px;
  padding-left: 1px;
}

.services-package div {
  width: 362px;
  height: 522px;
  background-color: #ffffff;
  border: 4px solid #eeeeee;
}

.services-package h4 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
  color: #0b0b0b;
}

.services-package h4 + span {
  display: block;
  width: 65px;
  margin: 0 auto;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.services-package h3 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #0b0b0b;
  margin-bottom: 53px;
}

.services-package h3 span {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #0b0b0b;
  display: inline-block;
}

.span-1 {
  margin-left: 80px;
  margin-right: 6px;
}

.span-2 {
  margin-left: 85px;
  margin-right: 7px;
}

.span-3 {
  margin-left: 86px;
  margin-right: 8px;
}

.services-package p {
  font-family: "Cambay-Regular", sans-serif;
  font-size: 16px;
  color: #636363;
  line-height: 30px;
  text-align: center;
  margin-bottom: 26px;
}

.services-package p > span {
  font-family: "Cambay-Regular", sans-serif;
  font-size: 16px;
  color: #8799a3;
  font-weight: 800;
}

.component-10-inner-button {
  width: 180px;
  height: 59px;
  background-color: #1e1e1e;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 1px solid #1e1e1e;
  padding-bottom: 7px;
  display: block;
  margin: 0 auto;
}

.services-package div:hover {
  background-color: #ee3364;
  border: 4px solid #ee3364;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.services-package div:hover .component-10-inner-button {
  cursor: pointer;
  background-color: #ee3364;
  border: 1px solid #ffffff;
}
