.component-11 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* background-color: blue; */
}

.component-11 div {
  width: 355px;
  height: 544px;
  /* background-color: blueviolet; */
}

.color-1 {
  background-color: #bbbbbb;
  border: 15px solid #bbbbbb;
}

.color-2 {
  background-color: #d0d0d0;
  border: 15px solid #d0d0d0;
}

.middle-rect {
  border: 15px solid #e1e1e1;
  background-color: #e1e1e1;
}

.color-1:hover,
.color-2:hover,
.middle-rect:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ee3364;
  border-color: #242424;
}

.color-1:hover h1,
.color-2:hover h1,
.middle-rect:hover h1,
.color-1:hover h3,
.color-2:hover h3,
.middle-rect:hover h3,
.color-1:hover .fa-brands,
.color-2:hover .fa-brands,
.middle-rect:hover .fa-brands {
  opacity: 1;
}

.middle-rect h1,
.color-1 h1,
.color-2 h1 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 35px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  margin: 268px auto 14px auto;
  padding-left: 10px;
  opacity: 0;
}

.middle-rect h3,
.color-1 h3,
.color-2 h3 {
  font-family: "Muli-Regular", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 32px auto;
  padding-left: 8.5px;
  letter-spacing: 0.3px;
  opacity: 0;
}

.fa-brands {
  display: inline-block;
  font-size: 27px;
  text-align: center;
  opacity: 0;
}

.fa-facebook {
  color: #4267b2;
  margin-right: 10px;
}

.fa-twitter {
  color: #00acee;
}

.for-font-awesome {
  display: block;
  width: 70px;
  margin: 0 auto;
}
