.component-4 {
  margin-bottom: 140px;
}

.component-4 h1 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  width: 43.75rem;
  height: 6rem;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.1px;
  word-spacing: 0.1px;
  line-height: 44px;
  padding-left: 2.2rem;
  /* padding-top: 2px; */
}

.component-4 h1 > span {
  font-family: "GlacialIndifference-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 44px;
}

.ads-container {
  margin: 44px auto;
  width: 73.125rem;
}

.ads-container div:not(.svg-bg) {
  width: 362px;
  height: 292px;
  background-color: #edf7ff;
  border: 1px solid #edf7ff;
  /* padding-left: 2px; */
  margin-bottom: 40px;
}

.ads-container img {
  height: 41px;
  width: 41px;
  /* display: block; */
}

.svg-bg {
  width: 81px;
  height: 81px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
  margin-left: 46px;
  margin-bottom: 16px;
}

.ads-container h3 {
  width: 270px;
  height: 33px;
  margin-left: 47px;
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 22px;
}

.ads-container p {
  font-family: "Muli-Regular", sans-serif;
  font-size: 15px;
  width: 306px;
  margin-left: 45px;
  line-height: 25px;
  letter-spacing: 0.3px;
  word-spacing: 0.7px;
}

.ads-container div:not(.svg-bg):hover {
  border: 1px solid #ee3364;
  /* transform: translateY(-1.2rem); */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
}

.ads-container div:not(.svg-bg):hover .svg-bg {
  background-color: #ee3364;
}

.ads-container div:hover image {
  filter: brightness(0) invert(1);
}

.ads-container div:hover #_021-diamond {
  filter: brightness(0) invert(1);
}

#_021-diamond {
  filter: brightness(0);
}

.component-4-button {
  display: block;
  width: 203px;
  height: 65px;
  background-color: #ee3364;
  color: white;
  border: 1px solid #ee3364;
  margin: 0 auto;
  font-family: "Muli-Bold", sans-serif;
  font-size: 14px;
  font-weight: 100;
  /* margin-left: 10px; */
}

.component-4-button:hover {
  cursor: pointer;
  background-color: white;
  color: #ee3364;
}
