.component-6 {
  width: 100%;
  height: 492px;
  margin: 0 auto;
  background-color: #ff434b;
  margin-top: 5px;
  padding-top: 150px;
}

.component-6 p {
  font-family: "Muli-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3px;
  width: 240px;
  height: 20px;
  margin: 15px auto 15px auto;
  padding-left: 20px;
  color: #ffffff;
}

.component-6 h1 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 44px;
  width: 850px;
  margin: 0 auto;
  text-align: center;
  word-spacing: -6px;
  color: #ffffff;
}

.component-6-h1-1 {
  padding-left: 10px;
}
