.component-12 {
  width: 100%;
  height: 708px;
  margin: 0 auto;
  background-color: #f2f2f2;
  position: relative;
}

.stones-1 {
  position: absolute;
  display: inline-block;
  left: 2.5rem;
  bottom: 295px;
}

.stones-2 {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 90px;
}

.am-cosm {
  position: absolute;
  display: inline-block;
  top: 115px;
  left: 212px;
}

.div-for-forms {
  position: absolute;
  display: inline-block;
  width: 725px;
  height: 350px;
  right: 25rem;
  top: 197px;
}

.div-for-forms h1 {
  font-family: GlacialIndifference-Bold, sans-serif;
  font-size: 50px;
  color: #2b2b2b;
  letter-spacing: -3px;
  margin-bottom: 20px;
}

.div-for-forms h1 > span {
  color: #ee3364;
}

.div-for-forms p {
  font-family: Muli-Regular, sans-serif;
  font-size: 17px;
  color: #2e2e2e;
  margin-bottom: 45px;
  line-height: 26px;
  padding-left: 2px;
}

form {
  display: inline-block;
  padding-left: 1px;
  margin-bottom: 52px;
}

form input {
  display: block;
  width: 320px;
  height: 49.45px;
  background-color: #cacaca;
  border: 2px solid #cacaca;
  margin-bottom: 20px;
  padding-left: 24px;
  font-family: Muli-Regular, sans-serif;
  font-size: 13px;
  color: #222222;
}

form select {
  display: block;
  width: 22rem;
  height: 54.44px;
  background-color: #cacaca;
  border: 2px solid #cacaca;
  margin: 0 20px 20px 0;
  padding-left: 1.5rem;
  font-family: Muli-Regular, sans-serif;
  font-size: 13px;
  color: #222222;
}

form button {
  display: block;
  width: 22rem;
  height: 54.44px;
  background-color: #ee3364;
  border: 2px solid #ee3364;
  margin-bottom: 20px;
  font-family: Muli-Bold, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

form button:hover {
  background-color: #ffffff;
  color: #ee3364;
  cursor: pointer;
}

form select:hover,
form input:hover {
  background-color: #ffffff;
  border-color: #ee3364;
  cursor: pointer;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}
