.component-3 {
  margin-left: 22.875rem;
  width: 86.25rem;
  display: flex;
  justify-content: space-between;
}

.component-3-container h1 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 80px;
  color: #ffffff;
  letter-spacing: 0.1px;
  word-spacing: 0.89px;
  line-height: 86px;
  width: 43rem;
  position: absolute;
  z-index: 1;
  padding-top: 150px;
}

.component-3-container p {
  font-family: "Muli-Regular", sans-serif;
  font-size: 20px;
  width: 560px;
  font-weight: 100;
  padding-top: 434px;
  padding-left: 2px;
  line-height: 28px;
  color: #ffffff;
}

.component-3-container img {
  display: inline-block;
  margin-top: 45px;
}

.component-3-container button {
  width: 180px;
  height: 58px;
  margin-top: 57px;
  background-color: #ee3364;
  color: white;
  font-family: "Muli-Bold", sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border: 1px solid #ee3364;
  padding-bottom: 12px;
}

.component-3-container button:hover {
  color: #ee3364;
  cursor: pointer;
  background-color: #ffffff;
}
