.component-5 {
  width: 100%;
  height: 468px;
  background-color: #edf7ff;
  padding-top: 100px;
}

.component-5-inner-div {
  width: 1174px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.inner-div-1 {
  width: 550px;
}

.inner-div-1 h1 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0.05px;
  word-spacing: 0.1px;
  padding-left: 10px;
  line-height: 42px;
  margin-bottom: 36px;
  margin-top: 12px;
}

.h1-correct-2 h1 {
  margin-left: 5px;
  margin-bottom: 35px;
  /* width: 565px; */
}

.h1-correct-1 h1 {
  /* letter-spacing: 0.5px; */
  word-spacing: 0;
  margin-right: 10px;
  line-height: 40px;
  padding-left: 5px;
  /* font-weight: 700; */
}

.h1-correct-1 span {
  display: inline-block;
  width: 4px;
  margin-right: 2px;
  /* height: 20px; */
}

.p-special-padding {
  padding-left: 11.5px;
  font-family: "Muli-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #484848;
}

.cube-div {
  display: inline-block;
  padding-left: 10px;
}

.inner-div-1 .flex {
  width: 295px;
}

.div-for-h4-and-p {
  padding-top: 18px;
  width: 145px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  align-items: flex-start;
}

.div-for-h4-and-p h4 {
  font-family: "GlacialIndifference-Bold", sans-serif;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 12px;
}

.div-for-h4-and-p p {
  font-family: "GlacialIndifference-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 19px;
}

.container-grid {
  width: 556px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 556px;
  height: 44px;
  /* margin-bottom: 5px; */
}

.container-flex span {
  display: inline-block;
  width: 34px;
}

.inner-div-1.container-flex p {
  width: 180px;
  font-family: "GlacialIndifference-Regular", sans-serif;
  font-size: 16px;
  color: #373737;
  /* margin-left: 5px; */
}

.inner-div-1.container-flex span {
  font-family: "GlacialIndifference-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #373737;
}

.for-pseudo-classes div:nth-child(1) {
  margin-bottom: 26px;
  /* padding-left: 2px; */
}

.for-pseudo-classes div:nth-child(2) {
  margin-bottom: 24px;
}

.for-pseudo-classes div {
  position: relative;
  /* padding-left: 4px; */
  margin-left: 17px;
}

.for-pseudo-classes div::before {
  content: " ";
  width: 410px;
  height: 10px;
  position: absolute;
  background-color: #ee3364;
  bottom: 0;
  left: 0;
}

.for-pseudo-classes div::after {
  content: " ";
  width: 146px;
  height: 10px;
  position: absolute;
  background-color: #e9e9e9;
  bottom: 0;
  right: 0;
}
