.component-1 {
  width: 100%;
  padding: 1rem 0 0.875rem 0;
  background-color: rgba(0, 0, 0, 0.57);
}

.component-1-container {
  width: 61.3%;
  margin: 0 auto;
}

.component-1 p,
.contact-email,
.contact-phone {
  display: inline-block;
}

.contact-email {
  margin-right: 4.6875rem;
}

.contact-email svg {
  margin-right: 1.25rem;
}

.contact-phone svg {
  margin-right: 0.75rem;
}

.component-1 a {
  font-family: "Muli-Regular", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.4;
}

.contact-icons {
  width: 7.5rem;
  float: right;
  display: flex;
  justify-content: space-between;
}

.component-1 a:hover {
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
}

.component-1 path:hover {
  cursor: pointer;
  fill: #ffffff;
  opacity: 1;
}
